.ui.button.music-player-button {
  background-color: transparent;
}
.ui.button.music-player-button:hover {
  background-color: #ceecf6;
}
.ui.button.mobile-button {
  background-color: transparent;
  padding: 0.5em !important;
}
.ui.grid > .row > .column {
  padding: 0em;
}

.song-selection {
  background-color: transparent;
}

.song-selection:hover {
  cursor: pointer;
  background-color: #ceecf6;
}

.ui.small.progress:hover {
  cursor: pointer;
}

.MuiSlider-root.custom-slider {
  color: #2185d0;
}

.ui.styled.accordion .accordion .content {
  padding: 1em;
}
