.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "JetBrains Mono";
  src: local("JetBrains Mono"),
    url(./fonts/JetBrainsMono-Regular.ttf) format("opentype");
}

@font-face {
  font-family: "Long Cang";
  src: local("Long Cang"), url(./fonts/LongCang-Regular.ttf) format("opentype");
}

@font-face {
  font-family: "Noto Sans";
  src: local("Noto Sans"),
    url(./fonts/NotoSansSC-Regular.otf) format("opentype");
}

blockquote {
  color: #666;
  margin: 0;
  padding-left: 1em;
  border-left: 0.5em #eee solid;
}

.ui.left.internal.rail {
  padding: 0;
  margin: 0;
}

.ui.right.internal.rail {
  padding: 0;
  margin: 0;
}

.ui.menu.fluid,
.ui.vertical.menu.fluid {
  width: 95% !important;
}

.ui.items > .item > .image {
  height: 110px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

a:hover {
  cursor: pointer;
}

.ui.divided.items > .item:first-child {
  padding: 1em !important;
}

.ui.divided.items > .item:last-child {
  padding: 1em !important;
}

pre {
  background-color: rgb(240, 240, 240) !important;
  padding: 1em !important;
  border-radius: 3px;
}

.ui.secondary.pointing.menu .item {
  padding: 1em 0.7em;
}

.responsive {
  max-width: 100%;
  height: auto;
}

code {
  white-space: pre-wrap !important;
}

figure {
  margin: 0 !important;
}

.ui.label {
  margin: 0.2em;
}

#navbar {
  transition: top 0.5s;
}
